<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://phantasm.bbs.io:1541/api/WallItems/Index" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule2" enabled="false" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="http://localhost:1541/api/wallitems/Index" />
                </rule>
                <rule name="ReverseProxyInboundRule3" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(api.*)" negate="false" />
                    <action type="Rewrite" url="http://localhost:1541/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="wall.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
